.u-section-1 .u-sheet-1 {
  min-height: 922px;
}

.u-section-1 .u-text-1 {
  margin: 100px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 666px;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 265px;
  height: 54px;
  margin: 56px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 58px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 666px;
}

.u-section-1 .u-container-layout-2 {
  padding: 14px 30px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1 .u-image-2 {
  width: 289px;
  height: 151px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 666px;
}

.u-section-1 .u-container-layout-3 {
  padding: 14px 30px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1 .u-image-3 {
  width: 237px;
  height: 105px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 32px 0 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-text-1 {
    width: 519px;
    margin-top: 60px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 67px;
  }

  .u-section-1 .u-image-1 {
    width: 219px;
    height: 44px;
    margin-top: 42px;
    margin-right: 15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 762px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 61px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1 .u-image-2 {
    width: 236px;
    height: 108px;
    margin-top: 19px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 762px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 61px;
  }

  .u-section-1 .u-image-3 {
    width: 214px;
    height: 95px;
    margin-top: 17px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 79px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-1 {
    height: 36px;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 190px;
    height: 62px;
    margin-top: 23px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -924px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 421px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 73px;
  }

  .u-section-1 .u-image-3 {
    height: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1502px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 22px;
    margin-right: 177px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    height: 60px;
    width: 295px;
    margin-top: 11px;
    margin-right: 106px;
    margin-left: 118px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 15px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 16px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 11px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 16px;
  }

  .u-section-1 .u-image-3 {
    height: 108px;
    width: 244px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 151px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    height: 59px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-1 .u-image-2 {
    width: 313px;
    height: 102px;
    margin-top: 17px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -549px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 171px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1092px;
}

.u-section-2 .u-text-1 {
  margin: 100px auto 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 172px;
  margin: 122px auto 0 531px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -194px 644px 0 41px;
}

.u-section-2 .u-text-3 {
  margin: 0 678px 0 41px;
}

.u-section-2 .u-text-4 {
  margin: 23px 644px 0 41px;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 170px;
  margin: 80px auto 0 531px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -195px 644px 0 41px;
}

.u-section-2 .u-text-6 {
  margin: 0 677px 0 42px;
}

.u-section-2 .u-text-7 {
  margin: 23px 644px 0 41px;
}

.u-section-2 .u-image-3 {
  width: 570px;
  height: 228px;
  margin: 55px auto 0 531px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: -228px 644px 0 41px;
}

.u-section-2 .u-text-9 {
  margin: 0 678px 0 41px;
}

.u-section-2 .u-text-10 {
  margin: 23px 644px 60px 41px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-2 .u-text-1 {
    width: 519px;
  }

  .u-section-2 .u-image-1 {
    width: 497px;
    height: 150px;
    margin-top: 150px;
    margin-left: 443px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -205px;
    margin-right: 508px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 5px;
    margin-right: 518px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 518px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 492px;
    height: 147px;
    margin-top: 138px;
    margin-left: 448px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -240px;
    margin-right: 508px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -5px;
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 508px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 478px;
    height: 191px;
    margin-top: 72px;
    margin-left: 462px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -213px;
    margin-right: 508px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 508px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -613px;
    margin-left: 223px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 80px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-right: 298px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -1017px;
    margin-left: 228px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
    margin-right: 150px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -1187px;
    margin-left: 242px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 242px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 43px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 118px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 48px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 43px;
    margin-left: 1px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 62px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 85px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 103px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 18px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 102px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 136px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1157px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 16px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 1506px;
}

.u-section-3 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 220px;
  height: 220px;
  background-image: url("images/download.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 220px;
  height: 220px;
  background-image: url("images/Unknown_male.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 220px;
  height: 220px;
  background-image: url("images/gabija-kavaliauskaite1.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 220px;
  height: 220px;
  background-image: url("images/img_0155.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 220px;
  height: 220px;
  background-image: url("images/Cecilie.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 220px;
  height: 220px;
  background-image: url("images/Atlasportrait_29june_2july2019_Hindsgavl_photoHansKristianHannibal-Bach_P6300651-Version2.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  width: 220px;
  height: 220px;
  background-image: url("images/Isabel_SusanneMandrupLab1.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-17 {
  margin: 16px auto 0;
}

.u-section-3 .u-table-1 {
  width: 597px;
  margin: 16px auto 60px;
}

.u-block-c55a-111 {
  height: 46px;
}

.u-block-c55a-126 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-text-17 {
    width: auto;
  }

  .u-section-3 .u-table-1 {
    height: 50px;
    margin-left: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1439px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-text-17 {
    margin-left: 244px;
  }

  .u-section-3 .u-table-1 {
    margin-left: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-17 {
    margin-left: auto;
  }

  .u-section-3 .u-table-1 {
    width: 540px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2408px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-17 {
    margin-top: -339px;
  }

  .u-section-3 .u-table-1 {
    width: 351px;
    margin-top: 10px;
    margin-left: -11px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 435px;
}

.u-section-4 .u-text-1 {
  margin: 101px auto 0;
}

.u-section-4 .u-table-1 {
  width: 618px;
  margin: 16px auto 60px;
}

.u-block-05dc-11 {
  height: 46px;
}

.u-block-05dc-24 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 519px;
  }

  .u-section-4 .u-table-1 {
    height: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-table-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 733px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 901px;
  margin: 101px auto;
}

.u-section-5 .u-image-1 {
  min-height: 532px;
  background-image: url("images/download-13.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 532px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-group-1 {
  width: 512px;
  min-height: 361px;
  background-image: none;
  margin: 0 -91px 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 16px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-5 .u-image-1 {
    min-height: 551px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-5 .u-group-1 {
    width: 490px;
    min-height: 379px;
    margin-top: 105px;
    margin-right: -100px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 643px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 529px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-5 .u-group-1 {
    width: 387px;
    min-height: 392px;
    margin-top: 61px;
    margin-right: -57px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: -21px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 660px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-1 {
    width: 470px;
    min-height: 346px;
    margin-top: -92px;
    margin-left: -10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 416px;
  }

  .u-section-5 .u-group-1 {
    min-height: 378px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}